* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #62306D;
    position: relative;
    left: 50%;
    translate: -50%;
}
.qar1{
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 25%;
    top: 50%;
    translate: -50% ;
    background-color: #F7EC7D;
    border-radius: 0 0 50px 50px;
}
.qar2{
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50%;
    bottom: 50%;
    translate: -50% ;
    background-color: #F7EC7D;
    border-radius:50px 50px 0 0 ;
}
.qar3{
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 25%;
    top: 50%;
    translate: 50%;
    background-color: #F7EC7D;
    border-radius: 0 0 50px 50px;
}