* {
    box-sizing: border-box;
}
.contain{
    height: 300px;
    width: 400px;
    background-color:#2B2A4A;
    position: relative;
    left: 50%;
    translate: -50%;
}
.sq{
    position: absolute;
}
.qar1{
    width: 80px;
    height: 200px;
    left: 50%;
    bottom: 10px;
    translate: -50%;
    background-color:#BA463E;
    border-radius: 100px 100px 0 0;
}
.qar2{
    height: 80px;
    width: 200px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color:#BA463E;
    border-radius: 100px;
}
.qar3{
    width: 40px;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: #2B2A4A;
    border-radius: 100%;
}

.qar4{
    width: 40px;
    aspect-ratio: 1/1;
    left: 120px;
    top: 50%;
    translate: 0 -50%;
    background-color: #2B2A4A;
    border-radius: 100%;
}.qar5{
    width: 40px;
    aspect-ratio: 1/1;
    right: 120px;
    top: 50%;
    translate: 0 -50%;
    background-color: #2B2A4A;
    border-radius: 100%;
}
