* {
    box-sizing: border-box;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #62374e;
    position: relative;
    left: 50%;
    translate: -50%;
}
.qar1{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: #fdc57b;
}
.qar2{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: #fdc57b;
}
.qar3{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #fdc57b;
}
.qar4{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: #fdc57b;
}

