*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 2px solid #0022;
    border-radius: 15px;
    flex-direction: column;
    gap:5px;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow:  0 0 10px 2px #aaa8 ;
    transition: all 0.3s ease;
}
.card-container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap:5px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: #020202;
}

.card-image{
    height: 210px;
    width: 100%;
    border-radius: 15px;
}
.card-image img{
    width:100%;
    height: 100%;
    object-fit:cover;
    border-radius: 15px;
}
.card-title{
    width: 100%;
    padding: 10px;
}
.tit{
    padding: 3px 10px;
    border: 1px solid #0002;
    border-radius: 50px;
    font-size: 13px;
    color: #0009;
    cursor: pointer;
}
.card-info{
    width: 100%;
    padding: 10px;
}
.card-btn{
    display: flex;
    justify-content: center;
}
.card-info p{
    color: #0009;
}
button {
    padding: 10px 30px;
    background-color: #ddeeff;
    color: #5aaadd;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #cce0f5;
    border-radius: 15px;
    transition: all 0.5s ease;
    padding: 10px 20px;
    
}


