* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #FFFFFF;
    position: relative;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.bd{
  border: 25px solid #DE3832;
  background-color: #33499F;
  background-clip: content-box;
}
.verev, .nerqev{
  display: flex;
  width: 100%;
  height: 50%;
}
.dzax1, .dzax2{
  width: 150px;
  border-left:0;
  padding-right: 15px;
}
.aj1, .aj2{
  display:flex;
  width: 110px;
  aspect-ratio: 1/1;
  flex-grow:1;
  border-right: 0;
  padding-left: 15px;
}
.verev .bd{
  border-top:0;
  padding-bottom:15px;
}
.nerqev .bd{
  border-bottom:0;
  padding-top: 15px;
}