* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container{
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    
}

.tasnerku{
    grid-column: span 12;
    border-radius: 20px;
}
.vec{
    grid-column: span 6;
    border-radius: 20px;
}
.chors{
    grid-column: span 4;
    border-radius: 20px;
}
.chors{
    grid-column: span 4;
    border-radius: 20px;
}
.ereq{
    grid-column: span 3;
    border-radius: 20px;
}
.erku{
    grid-column: span 2;
    border-radius: 20px;
}
.mek{
    border-radius: 20px;
}
.mek, .erku, .ereq, .chors, .vec, .tasnerku{
    background-color: rgb(0, 100, 255);
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}
.mek, .erku, .ereq, .chors