*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  margin: 10px;
}
.image1 {
  position: absolute;
  width: 130px;
  aspect-ratio: 1/1;
  border: 3px solid #000;
  border-radius:100%;
}
.image11 {
  border: 3px solid #000;
  position: absolute;
}
#c1 {
  left: 19px;
  top: 19px;
}
#c2 {
  right: 19px;
  top: 19px;
}
#c3 {
  right: 19px;
  bottom: 19px;
}
#c4 {
  left: 19px;
  bottom: 19px;
}
#c11 {
  border: 10;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  top: 51.5%;
  left: 51.5%;
  width: 50%;
  height: 50%;
  background-color: red;
}
#c22 {
  border: 10;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  top: 51.5%;
  right: 51.5%;
  width: 50%;
  height: 50%;
  background-color: red;
}
#c33 {
  border: 10;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  bottom: 51.5%;
  right: 51.5%;
  width: 50%;
  height: 50%;
  background-color: red;
}
#c44 {
  border: 10;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  bottom: 51.5%;
  left: 51.5%;
  width: 50%;
  height: 50%;
  background-color: red;
}

/* ----------------------------------------------- */

#trip {
  position: absolute;
  left: 50%;
  top: 50px;
  translate: -50%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid green;
}
#quad {
  width: 80px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 149px;
  translate: -50%;
  background-color: green;
}


/* ----------------------------------------------- */

.image3{
    position: absolute;
    width: 130px;
    aspect-ratio: 1/1;
    border: 3px solid #000;
}
.qar1 {
  left: 5px;
  top: 5px;
  border: 0;
  background-color: red;
}
.qar2 {
  right: 5px;
  top: 5px; 
   border: 0;
  background-color: green;
}
.qar3 {
  right: 5px;
  bottom: 5px;
  border: 5px solid #000;
  box-sizing: border-box;
}
.qar4{
  left: 5px;
  bottom: 5px;
   border: 0;
  background-color: rgb(0, 0, 255);
}
.circ1{
    position: absolute;
    width: 65px;
    height: 65px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 5px solid yellow;
    border-radius: 100%;
    
}
/* ----------------------------------------------- */


.uxx1{
    position: absolute;
    border: 4px solid green;
    width: 199px;
    height: 98px;
    box-sizing: border-box;
}
.uxx2{
    position: absolute;
    border: 4px solid red;
    width: 98px;
    height: 199px;
    right: 0;
    box-sizing: border-box;
}
.uxx3{
    position: absolute;
    border: 4px solid blue;
    width: 199px;
    height: 98px;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
}
.uxx4{
    position: absolute;
    border: 4px solid black;
    width: 98px;
    height: 199px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}
.qar11{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border: 4px solid yellow;
    box-sizing: border-box;
}
/* ----------------------------------------------- */

.image5{
    position: absolute;
    width: 130px;
    aspect-ratio: 1/1;
    border: 3px solid #000;
}

.ima1 {
  left: 18px;
  top: 18px;
  border-top: 0;
  border-left: 0;
  border-bottom-right-radius: 120%;
}
.ima2 {
  right: 19px;
  top: 18px;
  border-top:0;
  border-right: 0;
  border-bottom-left-radius: 120%;
}
.ima3 {
  right: 19px;
  bottom: 19px;
  border-bottom: 0;
  border-right: 0;
  border-top-left-radius: 120%;
}
.ima4{
  left: 18px;
  bottom: 19px;
  border-bottom:0;
  border-left: 0;
  border-top-right-radius: 120%;
}

