* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #0B2429;
    position: relative;
    left: 50%;
    translate: -50%;
}
.div1 {
    width: 120px;
    aspect-ratio:1/1;
    background-color:#F3AC3C;
    position:absolute;
    left:50%;
    bottom:50%;
    border-radius:50%;
  }
  .div2{
    width: 120px;
    aspect-ratio:1/1;
    position:absolute;
    left:50%;
    top:50%;
    border-radius:50% 0 50% 50%;
    background-color:#998235;
    translate:-50% -50%;
  }
  .div3{
    width: 120px;
    aspect-ratio:1/1;
    background-color:#F3AC3C;
    position:absolute;
    right:50%;
    top:50%;
    border-radius:50% 0 50% 50%;
  }
