* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #62306D;
    position: relative;
    left: 50%;
    translate: -50%;
}
.color{
    width: 100%;
    height: 200px;
    background-color: #F7EC7D;
    border-bottom: 100px #AA445F;
}
