* {
    box-sizing: border-box;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #5d3a3a;
    position: relative;
    left: 50%;
    translate: -50%;
}
.qar{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: #b5e0ba;
}
