:root {
    /* Colors */


    --color-red-1: #FEF5F5;
    --color-red-2: #FEE7E7;
    --color-red-3: #FBB7B7;
    --color-red-4: #F88787;
    --color-red-5: #F55757;
    --color-red-6: #F22626;
    --color-red-7: #D90D0D;
    --color-red-7: #A80A0A;
    --color-primary-bg: #1572d31a;
    --color-black: #000000;
    --color-neutral-1: #FFFFFF;
    --color-neutral-2: #F2F2F2;
    --color-neutral-3: #D9D9D9;
    --color-neutral-4: #BFBFBF;
    --color-neutral-5: #A6A6A6;
    --color-neutral-6: #8C8C8C;
    --color-neutral-7: #737373;
    --color-neutral-8: #595959;
    --color-neutral-9: #404040;
    --color-neutral-10: #262626;

    /* Font Sizes */

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 38px;
    --font-size-8: 56px;
    --font-size-9: 64px;

    /* Font Families */

    --font-family-main: "Lato", sans-serif;

    /* Radius */

    --radius-1: 8px;
    --radius-2: 12px;
    --radius-3: 16px;
    --radius-4: 24px;
    --radius-i: calc(infinity * 1px);

    /* Transition */

    --transition: 0.3s;
}


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family-main);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.header{
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 1400px;

}
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header_nav{
    
}
.header_logo{
    height: 45px;
}
.header_logo > img{
    height: 100%;
}
.header_navlist{
    display: flex;
    gap: 50px;
}
.header_navitem{
    
}
.header_navlink{
    color: var(--color-neutral-9);
}





.hero{ 
    margin: 0 auto;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(img/b_image.png) no-repeat right top;
    background-size: 900px;
    display: grid;
    grid-template-columns: 1fr;
}
.hero_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    gap: 50px;
    line-height: 1.5;
    max-width: 60%;
    padding-top: 50px;
}
.hero_about{
    font-size: var(--font-size-8);
    color: var(--color-neutral-8);
}
.hero_about_p{
    font-size: var(--font-size-5);
    color: var(--color-neutral-7);
    max-width: 85%;
}
.hero_about_buttons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.hero_about_btn{
    background-color: var(--color-red-5);
    color: var(--color-neutral-1);
    font-size: var(--font-size-5);
    padding: 10px 25px;
    border: 2px solid var(--color-red-5);
    transition: var(--transition);
}
.hero_about_btn:hover{
    background-color: var(--color-neutral-1);
    color: var(--color-red-5);
    font-size: var(--font-size-5);
    padding: 10px 25px;
    border: 2px solid var(--color-red-5);
    transition: var(--transition);
}
.hero_about_btn:nth-of-type(2){
    background-color: var(--color-neutral-1);
    color: var(--color-red-5);
    
}
.hero_about_btn:nth-of-type(2):hover{
    background-color: var(--color-red-5);
    color: var(--color-neutral-1);
}