body{
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#222;
}

.board{
display:grid;
grid-template-columns:repeat(8,1fr);
grid-template-rows:repeat(8,1fr);

width:90vmin;
height:90vmin;
position:relative;
}

.cell{
display:flex;
justify-content:center;
align-items:center;

font-size:11vmin;
overflow: hidden;
}
  
.cell:nth-child(odd):nth-child(-n+8),
.cell:nth-child(even):nth-child(n+9):nth-child(-n+16),
.cell:nth-child(odd):nth-child(n+17):nth-child(-n+24),
.cell:nth-child(even):nth-child(n+25):nth-child(-n+32),
.cell:nth-child(odd):nth-child(n+33):nth-child(-n+40),
.cell:nth-child(even):nth-child(n+41):nth-child(-n+48),
.cell:nth-child(odd):nth-child(n+49):nth-child(-n+56),
.cell:nth-child(even):nth-child(n+57){
background:#eee;
}

.cell{
background:#666;
}

.cell:not(:empty){
cursor:grab;
}

.cell:not(:empty):active{
cursor:grabbing;
}

.board::after{
content:"A B C D E F G H";
position:absolute;
bottom:-3vmin;
left:0;
width:100%;
display:flex;
justify-content:space-around;
word-spacing: 9.4vmin;
font-size:2vmin;
color:white;
}


.board::before{
content:"8 \a 7 \A 6 \A 5 \A 4 \A 3 \A 2 \A 1";
white-space:pre;
position:absolute;
left:-2vmin;
top:0;
height:100%;
display:flex;
flex-direction:column;
justify-content:space-around;
word-spacing: 9.4vmin;
font-size:2vmin;
color:white;
line-height:11.25vmin;
}