* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.contain{
    height: 300px;
    width: 400px;
    background-color: #C74E4E;
    position: relative;
    left: 50%;
    translate: -50%;
}
.container{
    width: 220px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0 ;
    gap: 5px;
}
.col{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.row11{
    display: flex;
    gap: 5px;
    
}
.row12{
    display: flex;
    gap: 5px;
}

.row2{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 05px 0;
    gap: 5px;
}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.qar{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: flex;
    background-color: #E0E246;
    
}

